<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <!-- Font Awesome -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'
      integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />

    <!-- Own CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>{{#block 'title'}}{{/block}}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-TE48RJMD8F'
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'G-TE48RJMD8F');
    </script>

  </head>
  <body>
    {{#if success_messages}}
      {{#each success_messages}}
        <div
          class='bg-green-100 border border-red-400 text-green-700 px-4 py-3 rounded relative'
          role='alert'
        >
          <strong class='font-bold'>Congrats!</strong>
          <span class='block sm:inline'>{{this}}</span>
        </div>
      {{/each}}
    {{/if}}

    {{#if error_messages}}
      {{#each error_messages}}
        <div
          class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative'
          role='alert'
        >
          <strong class='font-bold'>Holy smokes!</strong>
          <span class='block sm:inline'>{{this}}</span>
        </div>
      {{/each}}
    {{/if}}
    <div class='w-full bg-gray-800 min-h-full'>
      <section class='max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-5'>
        <div class='text-center mb-5 mt-0'>
          {{#if user}}

            {{#if_eq user.role_id 1}}

              <a
                href='/'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white mr-3 underline'
              >Home</a>

              <a
                href='/admin-update'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white mr-3 underline'
              >Update</a>

              <a
                href='/user/logout'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white underline'
              >Logout</a>

            {{else}}

              <a
                href='/'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white mr-3 underline'
              >Home</a>

              <a
                href='/update'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white mr-3 underline'
              >Update</a>

              <a
                href='/user/logout'
                class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white underline'
              >Logout</a>

            {{/if_eq}}

          {{else}}

            <a
              href='/'
              class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white mr-10 underline'
            >Home</a>

            <a
              href='/user/login'
              class='font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white underline'
            >Login</a>

          {{/if}}
        </div>
        {{#block 'instructions'}}{{/block}}
        <div
          class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6'
        >
          {{#block 'content'}}{{/block}}
        </div>
      </section>
    </div>
    {{#block 'js'}}{{/block}}
  </body>
</html>