<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Own CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>{{#block "title"}}{{/block}}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TE48RJMD8F"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'G-TE48RJMD8F');
    </script>
  </head>

  <!-- BODY START -->
  <body>

    <div class="w-full bg-gray-800 min-h-full">

      <!-- FLASH START -->
      <section>
        {{#if success_messages}}
          {{#each success_messages}}
            <div
              class="text-sm bg-green-100 border text-green-700 p-3 relative"
              role="alert"
            >
              <strong class="font-bold">Congrats!</strong>
              <span class="block sm:inline">{{this}}</span>
            </div>
          {{/each}}
        {{/if}}
        {{#if error_messages}}
          {{#each error_messages}}
            <div
              class="text-sm bg-red-100 border text-red-700 p-3 relative"
              role="alert"
            >
              <strong class="font-bold">Holy smokes!</strong>
              <span class="block sm:inline">{{this}}</span>
            </div>
          {{/each}}
        {{/if}}
      </section>
      <!-- FLASH END -->

      <!-- BODY START -->
      <section class="p-5">

        <section class="text-center mb-4">
          {{#if user}}
            {{#if_eq user.role_id 1}}
              <a
                class="text-l text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                href="/"
              ><i class="fa-solid fa-house-user"></i></a>
              <a
                href="/admin-update"
                class="text-l text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Update</a>
              <a
                class="text-l text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                href="/user/logout"
              >Logout <i class="fa-solid fa-right-to-bracket"></i></a>
            {{else}}
              <a
                class="text-l text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                href="/"
              ><i class="fa-solid fa-house-user"></i></a>
              <a
                href="/update"
                class="text-l text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              >Update</a>
              <a
                class="text-l text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                href="/user/logout"
              >Logout <i class="fa-solid fa-right-to-bracket"></i></a>
            {{/if_eq}}
          {{else}}
            <a
              class="text-l text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              href="/"
            ><i class="fa-solid fa-house-user"></i></a>
            <a
              class="text-l text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              href="/user/login"
            >Login <i class="fa-solid fa-right-to-bracket"></i></a>
          {{/if}}
        </section>

        <section class="my-2">
          {{#block "instructions"}}{{/block}}
        </section>

        <section>
          {{#block "content"}}{{/block}}
        </section>

      </section>

    </div>

    {{#block "js"}}{{/block}}
  </body>
</html>
